form {
}

img {
}

.container {
}

.form_container {
}

.form_button {
}

.login_box {
	color: red;
	background-color: green;
	position: fixed;
  	top: 50%;
 	left: 50%;
 	margin-top: -50px;
 	margin-left: -100px;
}