form {
	text-align: center;
	display: inline-block;
}

img {
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.container {
	text-align: center;
	display: inline-block;
	
	max-width: 250px;
}

.form_container {
	text-align: center;
	display: inline-block;
}
 
.form_button {
	text-align: center;
	display: inline-block;
	max-width: 250px;
	min-width: 150px;
	margin: 5px;
}

.login_box {
	background-color: #CAB684;
	position: fixed;
  	top: 50%;
 	left: 50%;
 	margin-top: -150px;
 	margin-left: -100px;
}