#product_container {
	display: flex;
	flex-direction: row;
	
	background-color: #98FB98;
}

#product_detail_container {
	padding: 10px;
}

a {
	text-decoration: none;
	background-color: #32CD32;
	color: white;
}