#product_container {
	display: flex;
	flex-direction: row;
	
	background-color: #98FB98;
}

#product_detail_container_name {
	padding: 10px;
}

#product_detail_container_price {
	padding: 10px;
}

#product_detail_container_quantity {
	padding: 10px;
}

#product_detail_container_description {
	padding: 10px;
}