a {
	text-decoration: none;
	color: white;
	font-size: 200%;
}
a:hover {
	color: #E5E1EE;
	font-weight: bold;
	cursor: pointer;
}

#here {
	color: #84828F;
	font-weight: bold;
	cursor: default !important;
}

#main_container {
	display: flex;
	flex-direction: column;
}

#nav {
	text-align: left;
	background-color: #0081C3;

	padding: 10px;
}

#nav_item {
	display: inline-block;
}

#description {
	display: flex;
	flex-direction: column;

	text-align: left;
	background-color: #E5E1EE;

	padding: 25px;
}

img {
	max-width: 300px;
}

@keyframes fade {
	0%   {}
	100% { background-color: white; color: #0081C3;}
}

#img_btn {
	background-color: #0081C3;
	color: white;

	padding: 5px;
	max-width: 300px;
}

#img_btn:hover {
	cursor: pointer;

	animation: fade 1s ease 0s 1 normal forwards;
}

#img_view {
	display: none;
}

#name {
	font-style: italic;
	font-size: 125%;
}